@syntax-text-color: #d6dbdb;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #908bbc;
@syntax-background-color: #121419;


@syntax-wrap-guide-color: #272c37;
@syntax-indent-guide-color: #272c37;
@syntax-invisible-character-color: #272c37;
@syntax-selection-flash-color: #afabcf;
@syntax-gutter-text-color: #272c37;
@syntax-gutter-background-color: #0c0d10;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;