@syntax-text-color: #ffffff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #fd8a25;
@syntax-background-color: #474466;


@syntax-wrap-guide-color: #5c5885;
@syntax-indent-guide-color: #5c5885;
@syntax-invisible-character-color: #5c5885;
@syntax-selection-flash-color: #fda558;
@syntax-gutter-text-color: #5c5885;
@syntax-gutter-background-color: #413e5d;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;