@syntax-text-color: #f8f8f2;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #2ebf7e;
@syntax-background-color: #36312c;


@syntax-wrap-guide-color: #524a43;
@syntax-indent-guide-color: #524a43;
@syntax-invisible-character-color: #524a43;
@syntax-selection-flash-color: #4cd497;
@syntax-gutter-text-color: #524a43;
@syntax-gutter-background-color: #2e2925;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;