@syntax-text-color: #e4e3e1;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #fdec5a;
@syntax-background-color: #1a1f1d;


@syntax-wrap-guide-color: #313b37;
@syntax-indent-guide-color: #313b37;
@syntax-invisible-character-color: #313b37;
@syntax-selection-flash-color: #fef28c;
@syntax-gutter-text-color: #313b37;
@syntax-gutter-background-color: #131715;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;