@syntax-text-color: #b9cec7;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #e54334;
@syntax-background-color: #101c18;


@syntax-wrap-guide-color: #233c34;
@syntax-indent-guide-color: #233c34;
@syntax-invisible-character-color: #233c34;
@syntax-selection-flash-color: #eb6d61;
@syntax-gutter-text-color: #233c34;
@syntax-gutter-background-color: #0a1210;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;