@syntax-text-color: #ffffff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #b5db99;
@syntax-background-color: #403635;


@syntax-wrap-guide-color: #5c4e4c;
@syntax-indent-guide-color: #5c4e4c;
@syntax-invisible-character-color: #5c4e4c;
@syntax-selection-flash-color: #d0e8bf;
@syntax-gutter-text-color: #5c4e4c;
@syntax-gutter-background-color: #382f2e;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;