@syntax-text-color: #c0ccdb;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #707ba0;
@syntax-background-color: #15191c;


@syntax-wrap-guide-color: #2b3339;
@syntax-indent-guide-color: #2b3339;
@syntax-invisible-character-color: #2b3339;
@syntax-selection-flash-color: #8f97b4;
@syntax-gutter-text-color: #2b3339;
@syntax-gutter-background-color: #0e1113;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;