@syntax-text-color: #aeb9c4;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #228a96;
@syntax-background-color: #252c33;


@syntax-wrap-guide-color: #3a4551;
@syntax-indent-guide-color: #3a4551;
@syntax-invisible-character-color: #3a4551;
@syntax-selection-flash-color: #2bb0c0;
@syntax-gutter-text-color: #3a4551;
@syntax-gutter-background-color: #1f242a;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;