@syntax-text-color: #b6ced8;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #1ea8fc;
@syntax-background-color: #05080a;


@syntax-wrap-guide-color: #16232c;
@syntax-indent-guide-color: #16232c;
@syntax-invisible-character-color: #16232c;
@syntax-selection-flash-color: #50bbfd;
@syntax-gutter-text-color: #16232c;
@syntax-gutter-background-color: #000000;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;