@syntax-text-color: #c5bedd;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #7cd827;
@syntax-background-color: #1d1a26;


@syntax-wrap-guide-color: #342f44;
@syntax-indent-guide-color: #342f44;
@syntax-invisible-character-color: #342f44;
@syntax-selection-flash-color: #96e052;
@syntax-gutter-text-color: #342f44;
@syntax-gutter-background-color: #16141d;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;