@syntax-text-color: #2c2d2d;
@syntax-cursor-color: #222222;
@syntax-selection-color: #908bbc;
@syntax-background-color: #f7f9f9;


@syntax-wrap-guide-color: #dae3e3;
@syntax-indent-guide-color: #dae3e3;
@syntax-invisible-character-color: #dae3e3;
@syntax-selection-flash-color: #716ba9;
@syntax-gutter-text-color: #dae3e3;
@syntax-gutter-background-color: #eef2f2;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;