@syntax-text-color: #555555;
@syntax-cursor-color: #222222;
@syntax-selection-color: #88ad6e;
@syntax-background-color: #ede8e8;


@syntax-wrap-guide-color: #d7cbcb;
@syntax-indent-guide-color: #d7cbcb;
@syntax-invisible-character-color: #d7cbcb;
@syntax-selection-flash-color: #6e9454;
@syntax-gutter-text-color: #d7cbcb;
@syntax-gutter-background-color: #e6dfdf;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;