@syntax-text-color: #ffffff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #8b6e46;
@syntax-background-color: #150f08;


@syntax-wrap-guide-color: #3a2916;
@syntax-indent-guide-color: #3a2916;
@syntax-invisible-character-color: #3a2916;
@syntax-selection-flash-color: #ab8959;
@syntax-gutter-text-color: #3a2916;
@syntax-gutter-background-color: #0a0704;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;