@syntax-text-color: #ebd1b7;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #db784d;
@syntax-background-color: #12100f;


@syntax-wrap-guide-color: #2e2926;
@syntax-indent-guide-color: #2e2926;
@syntax-invisible-character-color: #2e2926;
@syntax-selection-flash-color: #e49877;
@syntax-gutter-text-color: #2e2926;
@syntax-gutter-background-color: #0a0908;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;