@syntax-text-color: #e2dcdd;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #689d81;
@syntax-background-color: #161314;


@syntax-wrap-guide-color: #312b2d;
@syntax-indent-guide-color: #312b2d;
@syntax-invisible-character-color: #312b2d;
@syntax-selection-flash-color: #87b19b;
@syntax-gutter-text-color: #312b2d;
@syntax-gutter-background-color: #0e0c0d;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;