@syntax-text-color: #2a2f31;
@syntax-cursor-color: #222222;
@syntax-selection-color: #ef6e44;
@syntax-background-color: #eeeeee;


@syntax-wrap-guide-color: #d4d4d4;
@syntax-indent-guide-color: #d4d4d4;
@syntax-invisible-character-color: #d4d4d4;
@syntax-selection-flash-color: #eb4a15;
@syntax-gutter-text-color: #d4d4d4;
@syntax-gutter-background-color: #e6e6e6;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;