@syntax-text-color: #c9dbd9;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #25808a;
@syntax-background-color: #1a2322;


@syntax-wrap-guide-color: #30403e;
@syntax-indent-guide-color: #30403e;
@syntax-invisible-character-color: #30403e;
@syntax-selection-flash-color: #30a5b2;
@syntax-gutter-text-color: #30403e;
@syntax-gutter-background-color: #131a19;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;