@syntax-text-color: #bad3d0;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #f75431;
@syntax-background-color: #184540;


@syntax-wrap-guide-color: #256b63;
@syntax-indent-guide-color: #256b63;
@syntax-invisible-character-color: #256b63;
@syntax-selection-flash-color: #f97d62;
@syntax-gutter-text-color: #256b63;
@syntax-gutter-background-color: #143a35;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;