@syntax-text-color: #282122;
@syntax-cursor-color: #222222;
@syntax-selection-color: #0a9f9b;
@syntax-background-color: #f4f2f2;


@syntax-wrap-guide-color: #ddd6d6;
@syntax-indent-guide-color: #ddd6d6;
@syntax-invisible-character-color: #ddd6d6;
@syntax-selection-flash-color: #076f6c;
@syntax-gutter-text-color: #ddd6d6;
@syntax-gutter-background-color: #edeaea;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;