@syntax-text-color: #ffffff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #fc6a0f;
@syntax-background-color: #221a22;


@syntax-wrap-guide-color: #3f303f;
@syntax-indent-guide-color: #3f303f;
@syntax-invisible-character-color: #3f303f;
@syntax-selection-flash-color: #fd8941;
@syntax-gutter-text-color: #3f303f;
@syntax-gutter-background-color: #191319;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;