@syntax-text-color: #c9dbd9;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #25808a;
@syntax-background-color: #415654;


@syntax-wrap-guide-color: #577370;
@syntax-indent-guide-color: #577370;
@syntax-invisible-character-color: #577370;
@syntax-selection-flash-color: #30a5b2;
@syntax-gutter-text-color: #577370;
@syntax-gutter-background-color: #3a4d4b;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;