@syntax-text-color: #e3e2e0;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #f66153;
@syntax-background-color: #0c0c0c;


@syntax-wrap-guide-color: #252525;
@syntax-indent-guide-color: #252525;
@syntax-invisible-character-color: #252525;
@syntax-selection-flash-color: #f98d83;
@syntax-gutter-text-color: #252525;
@syntax-gutter-background-color: #040404;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;