@syntax-text-color: #ffffff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #d3643b;
@syntax-background-color: #1e2026;


@syntax-wrap-guide-color: #343842;
@syntax-indent-guide-color: #343842;
@syntax-invisible-character-color: #343842;
@syntax-selection-flash-color: #dc8565;
@syntax-gutter-text-color: #343842;
@syntax-gutter-background-color: #17191d;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;