@syntax-text-color: #eaebff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #ff5d38;
@syntax-background-color: #342e37;


@syntax-wrap-guide-color: #4e4553;
@syntax-indent-guide-color: #4e4553;
@syntax-invisible-character-color: #4e4553;
@syntax-selection-flash-color: #ff876b;
@syntax-gutter-text-color: #4e4553;
@syntax-gutter-background-color: #2c272f;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;