@syntax-text-color: #d6dbdb;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #908bbc;
@syntax-background-color: #2c323d;


@syntax-wrap-guide-color: #414a5b;
@syntax-indent-guide-color: #414a5b;
@syntax-invisible-character-color: #414a5b;
@syntax-selection-flash-color: #afabcf;
@syntax-gutter-text-color: #414a5b;
@syntax-gutter-background-color: #262b34;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;