@syntax-text-color: #c0ccdb;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #c262c4;
@syntax-background-color: #141619;


@syntax-wrap-guide-color: #2b2f35;
@syntax-indent-guide-color: #2b2f35;
@syntax-invisible-character-color: #2b2f35;
@syntax-selection-flash-color: #d087d2;
@syntax-gutter-text-color: #2b2f35;
@syntax-gutter-background-color: #0d0f10;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;