@syntax-text-color: #3a385b;
@syntax-cursor-color: #222222;
@syntax-selection-color: #ef6461;
@syntax-background-color: #e6e3ef;


@syntax-wrap-guide-color: #c9c3dc;
@syntax-indent-guide-color: #c9c3dc;
@syntax-invisible-character-color: #c9c3dc;
@syntax-selection-flash-color: #ea3733;
@syntax-gutter-text-color: #c9c3dc;
@syntax-gutter-background-color: #ddd9e9;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;