@syntax-text-color: #cce0d6;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #fcfcfa;
@syntax-background-color: #131c17;


@syntax-wrap-guide-color: #283a30;
@syntax-indent-guide-color: #283a30;
@syntax-invisible-character-color: #283a30;
@syntax-selection-flash-color: #ffffff;
@syntax-gutter-text-color: #283a30;
@syntax-gutter-background-color: #0d130f;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;