@syntax-text-color: #ebebf4;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #566981;
@syntax-background-color: #19191f;


@syntax-wrap-guide-color: #30303b;
@syntax-indent-guide-color: #30303b;
@syntax-invisible-character-color: #30303b;
@syntax-selection-flash-color: #6d829d;
@syntax-gutter-text-color: #30303b;
@syntax-gutter-background-color: #121217;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;