@syntax-text-color: #9090b2;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #68b0ab;
@syntax-background-color: #40424c;


@syntax-wrap-guide-color: #575a68;
@syntax-indent-guide-color: #575a68;
@syntax-invisible-character-color: #575a68;
@syntax-selection-flash-color: #89c2be;
@syntax-gutter-text-color: #575a68;
@syntax-gutter-background-color: #393b44;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;