@syntax-text-color: #bababa;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #ff4e50;
@syntax-background-color: #222324;


@syntax-wrap-guide-color: #3b3c3e;
@syntax-indent-guide-color: #3b3c3e;
@syntax-invisible-character-color: #3b3c3e;
@syntax-selection-flash-color: #ff8182;
@syntax-gutter-text-color: #3b3c3e;
@syntax-gutter-background-color: #1b1b1c;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;