@syntax-text-color: #aec2e0;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #ff410d;
@syntax-background-color: #080a0c;


@syntax-wrap-guide-color: #1c232b;
@syntax-indent-guide-color: #1c232b;
@syntax-invisible-character-color: #1c232b;
@syntax-selection-flash-color: #ff6940;
@syntax-gutter-text-color: #1c232b;
@syntax-gutter-background-color: #020203;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;