@syntax-text-color: #dce2e8;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #355b8c;
@syntax-background-color: #323a42;


@syntax-wrap-guide-color: #48535f;
@syntax-indent-guide-color: #48535f;
@syntax-invisible-character-color: #48535f;
@syntax-selection-flash-color: #4373b1;
@syntax-gutter-text-color: #48535f;
@syntax-gutter-background-color: #2b3239;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;