@syntax-text-color: #ffffff;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #008080;
@syntax-background-color: #333333;


@syntax-wrap-guide-color: #4d4d4d;
@syntax-indent-guide-color: #4d4d4d;
@syntax-invisible-character-color: #4d4d4d;
@syntax-selection-flash-color: #00b3b3;
@syntax-gutter-text-color: #4d4d4d;
@syntax-gutter-background-color: #2b2b2b;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;