@syntax-text-color: #7e7b99;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #6aa7a7;
@syntax-background-color: #0c0c0f;


@syntax-wrap-guide-color: #23232b;
@syntax-indent-guide-color: #23232b;
@syntax-invisible-character-color: #23232b;
@syntax-selection-flash-color: #8ababa;
@syntax-gutter-text-color: #23232b;
@syntax-gutter-background-color: #050506;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;