@syntax-text-color: #d8ebe5;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #ff5d38;
@syntax-background-color: #2a332b;


@syntax-wrap-guide-color: #414f43;
@syntax-indent-guide-color: #414f43;
@syntax-invisible-character-color: #414f43;
@syntax-selection-flash-color: #ff876b;
@syntax-gutter-text-color: #414f43;
@syntax-gutter-background-color: #232b24;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;