@syntax-text-color: #ebebf4;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #566981;
@syntax-background-color: #3d3d4c;


@syntax-wrap-guide-color: #545468;
@syntax-indent-guide-color: #545468;
@syntax-invisible-character-color: #545468;
@syntax-selection-flash-color: #6d829d;
@syntax-gutter-text-color: #545468;
@syntax-gutter-background-color: #363643;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;