@syntax-text-color: #bdd6db;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #2d8da1;
@syntax-background-color: #323b3d;


@syntax-wrap-guide-color: #495659;
@syntax-indent-guide-color: #495659;
@syntax-invisible-character-color: #495659;
@syntax-selection-flash-color: #39afc8;
@syntax-gutter-text-color: #495659;
@syntax-gutter-background-color: #2b3335;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;