@syntax-text-color: #d2c9ef;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #ef6461;
@syntax-background-color: #181726;


@syntax-wrap-guide-color: #2c2a46;
@syntax-indent-guide-color: #2c2a46;
@syntax-invisible-character-color: #2c2a46;
@syntax-selection-flash-color: #f4918f;
@syntax-gutter-text-color: #2c2a46;
@syntax-gutter-background-color: #12111c;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;