@syntax-text-color: #c0ccdb;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #7ec579;
@syntax-background-color: #0d1011;


@syntax-wrap-guide-color: #232b2e;
@syntax-indent-guide-color: #232b2e;
@syntax-invisible-character-color: #232b2e;
@syntax-selection-flash-color: #a0d49d;
@syntax-gutter-text-color: #232b2e;
@syntax-gutter-background-color: #060808;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;