@syntax-text-color: #e8e1de;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #a2d66b;
@syntax-background-color: #252727;


@syntax-wrap-guide-color: #3e4141;
@syntax-indent-guide-color: #3e4141;
@syntax-invisible-character-color: #3e4141;
@syntax-selection-flash-color: #bbe193;
@syntax-gutter-text-color: #3e4141;
@syntax-gutter-background-color: #1e1f1f;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;