@syntax-text-color: #879bb0;
@syntax-cursor-color: #444444;
@syntax-selection-color: #355b8c;
@syntax-background-color: #f5f8fc;


@syntax-wrap-guide-color: #ceddf0;
@syntax-indent-guide-color: #ceddf0;
@syntax-invisible-character-color: #ceddf0;
@syntax-selection-flash-color: #274367;
@syntax-gutter-text-color: #ceddf0;
@syntax-gutter-background-color: #e9f0f8;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;