@syntax-text-color: #ffffff;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #077cf9;
@syntax-background-color: #3b444c;


@syntax-wrap-guide-color: #515e69;
@syntax-indent-guide-color: #515e69;
@syntax-invisible-character-color: #515e69;
@syntax-selection-flash-color: #3996fa;
@syntax-gutter-text-color: #515e69;
@syntax-gutter-background-color: #343c43;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;