@syntax-text-color: #bbb1c9;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #3cbbb1;
@syntax-background-color: #413e4f;


@syntax-wrap-guide-color: #58546c;
@syntax-indent-guide-color: #58546c;
@syntax-invisible-character-color: #58546c;
@syntax-selection-flash-color: #5fcbc3;
@syntax-gutter-text-color: #58546c;
@syntax-gutter-background-color: #3a3746;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;