@syntax-text-color: #ffffff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #7cb8ba;
@syntax-background-color: #2d3142;


@syntax-wrap-guide-color: #424860;
@syntax-indent-guide-color: #424860;
@syntax-invisible-character-color: #424860;
@syntax-selection-flash-color: #9dcacc;
@syntax-gutter-text-color: #424860;
@syntax-gutter-background-color: #272a39;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;