@syntax-text-color: #6ea240;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #db784d;
@syntax-background-color: #090b07;


@syntax-wrap-guide-color: #222a1b;
@syntax-indent-guide-color: #222a1b;
@syntax-invisible-character-color: #222a1b;
@syntax-selection-flash-color: #e49877;
@syntax-gutter-text-color: #222a1b;
@syntax-gutter-background-color: #010201;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;