@syntax-text-color: #dedede;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #518f0d;
@syntax-background-color: #060606;


@syntax-wrap-guide-color: #1f1f1f;
@syntax-indent-guide-color: #1f1f1f;
@syntax-invisible-character-color: #1f1f1f;
@syntax-selection-flash-color: #6bbe11;
@syntax-gutter-text-color: #1f1f1f;
@syntax-gutter-background-color: #000000;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;