@syntax-text-color: #414549;
@syntax-cursor-color: #222222;
@syntax-selection-color: #1a9d6b;
@syntax-background-color: #e6e9ed;


@syntax-wrap-guide-color: #c8cfd8;
@syntax-indent-guide-color: #c8cfd8;
@syntax-invisible-character-color: #c8cfd8;
@syntax-selection-flash-color: #13714d;
@syntax-gutter-text-color: #c8cfd8;
@syntax-gutter-background-color: #dde1e7;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;