@syntax-text-color: #bababa;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #008d62;
@syntax-background-color: #0c0a08;


@syntax-wrap-guide-color: #2b231c;
@syntax-indent-guide-color: #2b231c;
@syntax-invisible-character-color: #2b231c;
@syntax-selection-flash-color: #00c085;
@syntax-gutter-text-color: #2b231c;
@syntax-gutter-background-color: #030202;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;