@syntax-text-color: #cad9e3;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #de333c;
@syntax-background-color: #2d3133;


@syntax-wrap-guide-color: #454b4e;
@syntax-indent-guide-color: #454b4e;
@syntax-invisible-character-color: #454b4e;
@syntax-selection-flash-color: #e55f66;
@syntax-gutter-text-color: #454b4e;
@syntax-gutter-background-color: #26292b;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;