@syntax-text-color: #bdb2f7;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #725ac1;
@syntax-background-color: #0b0a11;


@syntax-wrap-guide-color: #201d31;
@syntax-indent-guide-color: #201d31;
@syntax-invisible-character-color: #201d31;
@syntax-selection-flash-color: #927fcf;
@syntax-gutter-text-color: #201d31;
@syntax-gutter-background-color: #050407;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;