@syntax-text-color: #222324;
@syntax-cursor-color: #222222;
@syntax-selection-color: #ff4e50;
@syntax-background-color: #e0e0e0;


@syntax-wrap-guide-color: #c6c6c6;
@syntax-indent-guide-color: #c6c6c6;
@syntax-invisible-character-color: #c6c6c6;
@syntax-selection-flash-color: #ff1b1e;
@syntax-gutter-text-color: #c6c6c6;
@syntax-gutter-background-color: #d8d8d8;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;