@syntax-text-color: #191f13;
@syntax-cursor-color: #222222;
@syntax-selection-color: #db784d;
@syntax-background-color: #e3eadc;


@syntax-wrap-guide-color: #c9d7bc;
@syntax-indent-guide-color: #c9d7bc;
@syntax-invisible-character-color: #c9d7bc;
@syntax-selection-flash-color: #cc5a29;
@syntax-gutter-text-color: #c9d7bc;
@syntax-gutter-background-color: #dbe4d2;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;