@syntax-text-color: #edebe6;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #0b6d5c;
@syntax-background-color: #2a3330;


@syntax-wrap-guide-color: #414f4a;
@syntax-indent-guide-color: #414f4a;
@syntax-invisible-character-color: #414f4a;
@syntax-selection-flash-color: #109b83;
@syntax-gutter-text-color: #414f4a;
@syntax-gutter-background-color: #232b28;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;