@syntax-text-color: #8da0a0;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #36a595;
@syntax-background-color: #0e1111;


@syntax-wrap-guide-color: #252d2d;
@syntax-indent-guide-color: #252d2d;
@syntax-invisible-character-color: #252d2d;
@syntax-selection-flash-color: #4ac4b2;
@syntax-gutter-text-color: #252d2d;
@syntax-gutter-background-color: #070909;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;