@syntax-text-color: #afb7bf;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #e7be45;
@syntax-background-color: #101316;


@syntax-wrap-guide-color: #252c34;
@syntax-indent-guide-color: #252c34;
@syntax-invisible-character-color: #252c34;
@syntax-selection-flash-color: #edce72;
@syntax-gutter-text-color: #252c34;
@syntax-gutter-background-color: #0a0b0d;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;