@syntax-text-color: #ede0ce;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #d63131;
@syntax-background-color: #0c0c0b;


@syntax-wrap-guide-color: #272723;
@syntax-indent-guide-color: #272723;
@syntax-invisible-character-color: #272723;
@syntax-selection-flash-color: #de5b5b;
@syntax-gutter-text-color: #272723;
@syntax-gutter-background-color: #040404;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;