@syntax-text-color: #f8f8f2;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #008097;
@syntax-background-color: #2f3030;


@syntax-wrap-guide-color: #484a4a;
@syntax-indent-guide-color: #484a4a;
@syntax-invisible-character-color: #484a4a;
@syntax-selection-flash-color: #00abca;
@syntax-gutter-text-color: #484a4a;
@syntax-gutter-background-color: #272828;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;