@syntax-text-color: #ffffff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #857a5e;
@syntax-background-color: #000000;


@syntax-wrap-guide-color: #1a1a1a;
@syntax-indent-guide-color: #1a1a1a;
@syntax-invisible-character-color: #1a1a1a;
@syntax-selection-flash-color: #9f9477;
@syntax-gutter-text-color: #1a1a1a;
@syntax-gutter-background-color: #000000;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;