@syntax-text-color: #c4babb;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #0a9f9b;
@syntax-background-color: #282122;


@syntax-wrap-guide-color: #44383a;
@syntax-indent-guide-color: #44383a;
@syntax-invisible-character-color: #44383a;
@syntax-selection-flash-color: #0dcfca;
@syntax-gutter-text-color: #44383a;
@syntax-gutter-background-color: #201a1b;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;