@syntax-text-color: #c0ccdb;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #00b1b3;
@syntax-background-color: #292d33;


@syntax-wrap-guide-color: #40464f;
@syntax-indent-guide-color: #40464f;
@syntax-invisible-character-color: #40464f;
@syntax-selection-flash-color: #00e3e6;
@syntax-gutter-text-color: #40464f;
@syntax-gutter-background-color: #22252a;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;