@syntax-text-color: #333333;
@syntax-cursor-color: #222222;
@syntax-selection-color: #ff4e50;
@syntax-background-color: #f0f0f0;


@syntax-wrap-guide-color: #d6d6d6;
@syntax-indent-guide-color: #d6d6d6;
@syntax-invisible-character-color: #d6d6d6;
@syntax-selection-flash-color: #ff1b1e;
@syntax-gutter-text-color: #d6d6d6;
@syntax-gutter-background-color: #e8e8e8;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;