@syntax-text-color: #38363f;
@syntax-cursor-color: #333333;
@syntax-selection-color: #6aa7a7;
@syntax-background-color: #ffffff;


@syntax-wrap-guide-color: #ffffff;
@syntax-indent-guide-color: #ffffff;
@syntax-invisible-character-color: #ffffff;
@syntax-selection-flash-color: #8ababa;
@syntax-gutter-text-color: #ffffff;
@syntax-gutter-background-color: #f7f7f7;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;