@syntax-text-color: #dedede;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #617fa0;
@syntax-background-color: #0c0b0b;


@syntax-wrap-guide-color: #272323;
@syntax-indent-guide-color: #272323;
@syntax-invisible-character-color: #272323;
@syntax-selection-flash-color: #8199b3;
@syntax-gutter-text-color: #272323;
@syntax-gutter-background-color: #040404;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;