@syntax-text-color: #ffffff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #c7af3f;
@syntax-background-color: #292d30;


@syntax-wrap-guide-color: #40474b;
@syntax-indent-guide-color: #40474b;
@syntax-invisible-character-color: #40474b;
@syntax-selection-flash-color: #d3bf66;
@syntax-gutter-text-color: #40474b;
@syntax-gutter-background-color: #222528;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;