@syntax-text-color: #c1c1c1;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #ffffff;
@syntax-background-color: #181819;


@syntax-wrap-guide-color: #313133;
@syntax-indent-guide-color: #313133;
@syntax-invisible-character-color: #313133;
@syntax-selection-flash-color: #ffffff;
@syntax-gutter-text-color: #313133;
@syntax-gutter-background-color: #101011;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;