@syntax-text-color: #f3eff5;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #b3dd49;
@syntax-background-color: #454955;


@syntax-wrap-guide-color: #5c6171;
@syntax-indent-guide-color: #5c6171;
@syntax-invisible-character-color: #5c6171;
@syntax-selection-flash-color: #c5e574;
@syntax-gutter-text-color: #5c6171;
@syntax-gutter-background-color: #3e424d;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;