@syntax-text-color: #dedede;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #f03113;
@syntax-background-color: #0b0a0a;


@syntax-wrap-guide-color: #262222;
@syntax-indent-guide-color: #262222;
@syntax-invisible-character-color: #262222;
@syntax-selection-flash-color: #f35b43;
@syntax-gutter-text-color: #262222;
@syntax-gutter-background-color: #030303;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;