@syntax-text-color: #aeb9c4;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #ef6462;
@syntax-background-color: #0e1114;


@syntax-wrap-guide-color: #232a32;
@syntax-indent-guide-color: #232a32;
@syntax-invisible-character-color: #232a32;
@syntax-selection-flash-color: #f49290;
@syntax-gutter-text-color: #232a32;
@syntax-gutter-background-color: #08090b;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;