@syntax-text-color: #f9f3f9;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #b1a6ca;
@syntax-background-color: #3f373f;


@syntax-wrap-guide-color: #5a4f5a;
@syntax-indent-guide-color: #5a4f5a;
@syntax-invisible-character-color: #5a4f5a;
@syntax-selection-flash-color: #cdc6dd;
@syntax-gutter-text-color: #5a4f5a;
@syntax-gutter-background-color: #373037;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;