@syntax-text-color: #c0d5c1;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #569e16;
@syntax-background-color: #2d2c2b;


@syntax-wrap-guide-color: #474544;
@syntax-indent-guide-color: #474544;
@syntax-invisible-character-color: #474544;
@syntax-selection-flash-color: #6ecb1c;
@syntax-gutter-text-color: #474544;
@syntax-gutter-background-color: #252424;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;