@syntax-text-color: #ffffff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #ef8354;
@syntax-background-color: #111219;


@syntax-wrap-guide-color: #262837;
@syntax-indent-guide-color: #262837;
@syntax-invisible-character-color: #262837;
@syntax-selection-flash-color: #f3a583;
@syntax-gutter-text-color: #262837;
@syntax-gutter-background-color: #0b0b10;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;