@syntax-text-color: #514547;
@syntax-cursor-color: #333333;
@syntax-selection-color: #689d81;
@syntax-background-color: #e2dcdd;


@syntax-wrap-guide-color: #cbc0c2;
@syntax-indent-guide-color: #cbc0c2;
@syntax-invisible-character-color: #cbc0c2;
@syntax-selection-flash-color: #537f68;
@syntax-gutter-text-color: #cbc0c2;
@syntax-gutter-background-color: #dbd4d5;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;