@syntax-text-color: #444349;
@syntax-cursor-color: #222222;
@syntax-selection-color: #725ac1;
@syntax-background-color: #e5e3ef;


@syntax-wrap-guide-color: #c7c3dc;
@syntax-indent-guide-color: #c7c3dc;
@syntax-invisible-character-color: #c7c3dc;
@syntax-selection-flash-color: #583fa9;
@syntax-gutter-text-color: #c7c3dc;
@syntax-gutter-background-color: #dcd9e9;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;