@syntax-text-color: #111111;
@syntax-cursor-color: #222222;
@syntax-selection-color: #8767b7;
@syntax-background-color: #cccccc;


@syntax-wrap-guide-color: #b3b3b3;
@syntax-indent-guide-color: #b3b3b3;
@syntax-invisible-character-color: #b3b3b3;
@syntax-selection-flash-color: #6d4c9f;
@syntax-gutter-text-color: #b3b3b3;
@syntax-gutter-background-color: #c4c4c4;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;