@syntax-text-color: #c0ccdb;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #a1cbc6;
@syntax-background-color: #17191c;


@syntax-wrap-guide-color: #2e3238;
@syntax-indent-guide-color: #2e3238;
@syntax-invisible-character-color: #2e3238;
@syntax-selection-flash-color: #c2ddda;
@syntax-gutter-text-color: #2e3238;
@syntax-gutter-background-color: #101214;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;