@syntax-text-color: #1b1b24;
@syntax-cursor-color: #222222;
@syntax-selection-color: #7873ae;
@syntax-background-color: #f7f7fc;


@syntax-wrap-guide-color: #d2d2ee;
@syntax-indent-guide-color: #d2d2ee;
@syntax-invisible-character-color: #d2d2ee;
@syntax-selection-flash-color: #5d5797;
@syntax-gutter-text-color: #d2d2ee;
@syntax-gutter-background-color: #ececf8;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;