@syntax-text-color: #205a68;
@syntax-cursor-color: #333333;
@syntax-selection-color: #148b97;
@syntax-background-color: #ffffff;


@syntax-wrap-guide-color: #e6e6e6;
@syntax-indent-guide-color: #e6e6e6;
@syntax-invisible-character-color: #e6e6e6;
@syntax-selection-flash-color: #0e626a;
@syntax-gutter-text-color: #e6e6e6;
@syntax-gutter-background-color: #f7f7f7;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;