@syntax-text-color: #443a27;
@syntax-cursor-color: #222222;
@syntax-selection-color: #fe5f00;
@syntax-background-color: #ede8de;


@syntax-wrap-guide-color: #dbd1bd;
@syntax-indent-guide-color: #dbd1bd;
@syntax-invisible-character-color: #dbd1bd;
@syntax-selection-flash-color: #cb4c00;
@syntax-gutter-text-color: #dbd1bd;
@syntax-gutter-background-color: #e8e1d4;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;