@syntax-text-color: #d6dbdb;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #9bb7a7;
@syntax-background-color: #343939;


@syntax-wrap-guide-color: #4c5454;
@syntax-indent-guide-color: #4c5454;
@syntax-invisible-character-color: #4c5454;
@syntax-selection-flash-color: #b9ccc1;
@syntax-gutter-text-color: #4c5454;
@syntax-gutter-background-color: #2d3131;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;