@syntax-text-color: #bbb1c9;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #fc814a;
@syntax-background-color: #0e0d0f;


@syntax-wrap-guide-color: #27252a;
@syntax-indent-guide-color: #27252a;
@syntax-invisible-character-color: #27252a;
@syntax-selection-flash-color: #fda47c;
@syntax-gutter-text-color: #27252a;
@syntax-gutter-background-color: #060607;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;