@syntax-text-color: #ffffff;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #017c9d;
@syntax-background-color: #2a353f;


@syntax-wrap-guide-color: #3e4f5e;
@syntax-indent-guide-color: #3e4f5e;
@syntax-invisible-character-color: #3e4f5e;
@syntax-selection-flash-color: #01a4d0;
@syntax-gutter-text-color: #3e4f5e;
@syntax-gutter-background-color: #242d36;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;