@syntax-text-color: #f8f8f2;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #f38630;
@syntax-background-color: #2e3336;


@syntax-wrap-guide-color: #454d52;
@syntax-indent-guide-color: #454d52;
@syntax-invisible-character-color: #454d52;
@syntax-selection-flash-color: #f6a260;
@syntax-gutter-text-color: #454d52;
@syntax-gutter-background-color: #272b2e;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;