@syntax-text-color: #eeeeee;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #75a1a4;
@syntax-background-color: #2a2f31;


@syntax-wrap-guide-color: #42494c;
@syntax-indent-guide-color: #42494c;
@syntax-invisible-character-color: #42494c;
@syntax-selection-flash-color: #94b6b8;
@syntax-gutter-text-color: #42494c;
@syntax-gutter-background-color: #232729;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;