@syntax-text-color: #31332c;
@syntax-cursor-color: #222222;
@syntax-selection-color: #f56991;
@syntax-background-color: #f8f8f2;


@syntax-wrap-guide-color: #e6e6d1;
@syntax-indent-guide-color: #e6e6d1;
@syntax-invisible-character-color: #e6e6d1;
@syntax-selection-flash-color: #f2396e;
@syntax-gutter-text-color: #e6e6d1;
@syntax-gutter-background-color: #f3f3e8;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;