@syntax-text-color: #ffffff;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #3d8e91;
@syntax-background-color: #2a2626;


@syntax-wrap-guide-color: #453e3e;
@syntax-indent-guide-color: #453e3e;
@syntax-invisible-character-color: #453e3e;
@syntax-selection-flash-color: #4db0b4;
@syntax-gutter-text-color: #453e3e;
@syntax-gutter-background-color: #221f1f;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;