@syntax-text-color: #2d4137;
@syntax-cursor-color: #222222;
@syntax-selection-color: #688e2f;
@syntax-background-color: #cce0d6;


@syntax-wrap-guide-color: #accdbc;
@syntax-indent-guide-color: #accdbc;
@syntax-invisible-character-color: #accdbc;
@syntax-selection-flash-color: #4c6822;
@syntax-gutter-text-color: #accdbc;
@syntax-gutter-background-color: #c2dace;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;