@syntax-text-color: #2d2c2b;
@syntax-cursor-color: #222222;
@syntax-selection-color: #569e16;
@syntax-background-color: #c0d5c1;


@syntax-wrap-guide-color: #a1c1a3;
@syntax-indent-guide-color: #a1c1a3;
@syntax-invisible-character-color: #a1c1a3;
@syntax-selection-flash-color: #3e7110;
@syntax-gutter-text-color: #a1c1a3;
@syntax-gutter-background-color: #b7cfb8;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;