@syntax-text-color: #c8c7d5;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #7873ae;
@syntax-background-color: #0b0b0f;


@syntax-wrap-guide-color: #21212c;
@syntax-indent-guide-color: #21212c;
@syntax-invisible-character-color: #21212c;
@syntax-selection-flash-color: #9793c1;
@syntax-gutter-text-color: #21212c;
@syntax-gutter-background-color: #050506;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;