@syntax-text-color: #edebe6;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #516b6b;
@syntax-background-color: #0f0e0d;


@syntax-wrap-guide-color: #2a2725;
@syntax-indent-guide-color: #2a2725;
@syntax-invisible-character-color: #2a2725;
@syntax-selection-flash-color: #678888;
@syntax-gutter-text-color: #2a2725;
@syntax-gutter-background-color: #070606;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;