@syntax-text-color: #f0f0f0;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #9c7ddb;
@syntax-background-color: #222222;


@syntax-wrap-guide-color: #3b3b3b;
@syntax-indent-guide-color: #3b3b3b;
@syntax-invisible-character-color: #3b3b3b;
@syntax-selection-flash-color: #baa5e6;
@syntax-gutter-text-color: #3b3b3b;
@syntax-gutter-background-color: #1a1a1a;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;