@syntax-text-color: #edebe6;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #f52e62;
@syntax-background-color: #3d2f34;


@syntax-wrap-guide-color: #5a454d;
@syntax-indent-guide-color: #5a454d;
@syntax-invisible-character-color: #5a454d;
@syntax-selection-flash-color: #f75f87;
@syntax-gutter-text-color: #5a454d;
@syntax-gutter-background-color: #34282d;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;