@syntax-text-color: #5f656d;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #ffffff;
@syntax-background-color: #0d0e0f;


@syntax-wrap-guide-color: #25272a;
@syntax-indent-guide-color: #25272a;
@syntax-invisible-character-color: #25272a;
@syntax-selection-flash-color: #ffffff;
@syntax-gutter-text-color: #25272a;
@syntax-gutter-background-color: #060607;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;