@syntax-text-color: #9cadbc;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #1a9d6b;
@syntax-background-color: #1a252f;


@syntax-wrap-guide-color: #2c3f50;
@syntax-indent-guide-color: #2c3f50;
@syntax-invisible-character-color: #2c3f50;
@syntax-selection-flash-color: #21c989;
@syntax-gutter-text-color: #2c3f50;
@syntax-gutter-background-color: #151d25;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;