@syntax-text-color: #d6c7ab;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #fe5f00;
@syntax-background-color: #0c0c09;


@syntax-wrap-guide-color: #29291f;
@syntax-indent-guide-color: #29291f;
@syntax-invisible-character-color: #29291f;
@syntax-selection-flash-color: #ff7f32;
@syntax-gutter-text-color: #29291f;
@syntax-gutter-background-color: #030302;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;