@syntax-text-color: #2a332b;
@syntax-cursor-color: #222222;
@syntax-selection-color: #ff5d38;
@syntax-background-color: #d8ebe5;


@syntax-wrap-guide-color: #b6dacf;
@syntax-indent-guide-color: #b6dacf;
@syntax-invisible-character-color: #b6dacf;
@syntax-selection-flash-color: #ff3305;
@syntax-gutter-text-color: #b6dacf;
@syntax-gutter-background-color: #cee6de;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;