@syntax-text-color: #323b3d;
@syntax-cursor-color: #222222;
@syntax-selection-color: #2d8da1;
@syntax-background-color: #bdd6db;


@syntax-wrap-guide-color: #9cc1c9;
@syntax-indent-guide-color: #9cc1c9;
@syntax-invisible-character-color: #9cc1c9;
@syntax-selection-flash-color: #226a79;
@syntax-gutter-text-color: #9cc1c9;
@syntax-gutter-background-color: #b3d0d6;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;