@syntax-text-color: #719692;
@syntax-cursor-color: #444444;
@syntax-selection-color: #25808a;
@syntax-background-color: #e1f0ee;


@syntax-wrap-guide-color: #bfdfdb;
@syntax-indent-guide-color: #bfdfdb;
@syntax-invisible-character-color: #bfdfdb;
@syntax-selection-flash-color: #1a5b62;
@syntax-gutter-text-color: #bfdfdb;
@syntax-gutter-background-color: #d7ebe8;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;