@syntax-text-color: #e0ceed;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #b657ff;
@syntax-background-color: #080709;


@syntax-wrap-guide-color: #211d26;
@syntax-indent-guide-color: #211d26;
@syntax-invisible-character-color: #211d26;
@syntax-selection-flash-color: #cc8aff;
@syntax-gutter-text-color: #211d26;
@syntax-gutter-background-color: #000000;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;