@syntax-text-color: #c0ccdb;
@syntax-cursor-color: #ffffff;
@syntax-selection-color: #43b5b3;
@syntax-background-color: #131719;


@syntax-wrap-guide-color: #293236;
@syntax-indent-guide-color: #293236;
@syntax-invisible-character-color: #293236;
@syntax-selection-flash-color: #65c6c4;
@syntax-gutter-text-color: #293236;
@syntax-gutter-background-color: #0c0f10;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;