@syntax-text-color: #ede0ce;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #487d76;
@syntax-background-color: #080809;


@syntax-wrap-guide-color: #202024;
@syntax-indent-guide-color: #202024;
@syntax-invisible-character-color: #202024;
@syntax-selection-flash-color: #5b9d95;
@syntax-gutter-text-color: #202024;
@syntax-gutter-background-color: #010101;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;