@syntax-text-color: #bacedd;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #00a9a5;
@syntax-background-color: #020b0c;


@syntax-wrap-guide-color: #093338;
@syntax-indent-guide-color: #093338;
@syntax-invisible-character-color: #093338;
@syntax-selection-flash-color: #00dcd7;
@syntax-gutter-text-color: #093338;
@syntax-gutter-background-color: #000000;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;