@syntax-text-color: #f8f8f2;
@syntax-cursor-color: #f8f8f0;
@syntax-selection-color: #ed1153;
@syntax-background-color: #2e2b2c;


@syntax-wrap-guide-color: #484445;
@syntax-indent-guide-color: #484445;
@syntax-invisible-character-color: #484445;
@syntax-selection-flash-color: #f14075;
@syntax-gutter-text-color: #484445;
@syntax-gutter-background-color: #262424;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;