@syntax-text-color: #343939;
@syntax-cursor-color: #222222;
@syntax-selection-color: #9bb7a7;
@syntax-background-color: #d6dbdb;


@syntax-wrap-guide-color: #bbc3c3;
@syntax-indent-guide-color: #bbc3c3;
@syntax-invisible-character-color: #bbc3c3;
@syntax-selection-flash-color: #7da28d;
@syntax-gutter-text-color: #bbc3c3;
@syntax-gutter-background-color: #ced4d4;

@syntax-color-added: #a7da1e;
@syntax-color-modified: #f7b83d;
@syntax-color-removed: #e61f44;
@syntax-color-renamed: #9d37fc;